[2022-05-12 18:52] imjasonh opened #2 "Configure Fulcio / Rekor URLs etc using SIGSTORE_ env vars"
**Description**

Today `gitsign` looks for, e.g., `COSIGN_FULCIO_URL` to tell it where to talk to Fulcio. These should be `SIGSTORE_*`, or maybe `GITSIGN_*`.

[2022-05-12 18:53] imjasonh opened #3 "Make packages `internal` by default"
**Description**

To avoid unwanted external dependents on gitsign packages, move all of `pkg/*` into `internal/pkg` (or `pkg/internal`).

[2022-05-12 19:48] nsmith5 opened #6 "Set up some basic release automation"
**Description**

Would like to have releases with signed binaries, rpm, dep packages etc. Goreleaser is probably a good fit here.

[2022-05-12 20:39] #6 closed

[2022-05-12 20:44] #3 closed

[2022-05-12 20:48] #2 closed

[2022-05-12 21:39] nsmith5 opened #16 "Release automation failing"
**Description**

Release workflow is failing with

[code]

See e.g https://github.com/sigstore/gitsign/runs/6413949532?check_suite_focus=true#step:7:362

Not sure whats up with this. Thought it was go1.17 versus 1.18 related but that didn't seem to fix the issue

[2022-05-12 21:50] #16 closed

[2022-05-13 11:40] allstar-app[bot] opened #19 "Security Policy violation Branch Protection"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Dismiss stale reviews not configured for branch main

---

This issue will auto resolve when the policy is in compliance.

Issue created by Allstar. See https://github.com/ossf/allstar/ for more information. For questions specific to the repository, please contact the owner or main

[2022-05-13 14:27] wlynch commented on #19
Fixed.

[2022-05-13 14:27] #19 closed

[2022-05-13 14:46] wlynch opened #20 "OAuth device flow support"
**Description**

Credit to @philpennock for this idea! We should be able to write directly to /dev/tty to get around the "git eats stdout/stderr" restriction and prompt for device flow. I've already verified a simple print gets through using https://pkg.go.dev/github.com/mattn/go-tty - so we need to:

1. Refactor the code to plumb the TTY writer through to the device flow
2. Figure out a way to di

[2022-05-13 14:56] wlynch opened #21 "Batch signing support"
**Description**

This is probably a broader sigstore feature request, but creating an issue here to track.

An annoyance with using gitsign today is you need to hop through the oauth flow for every commit - this can be very tedious for quick `git commit --amend`s or multi-commit rebases.

We'll want to look into some way to cache the signing keypair (or possibly the Fulcio OIDC token) to support m

[2022-05-13 17:30] wlynch opened #22 "Add RFC3161 timestamps to signatures?"
**Description**

[We should be able to add RFC3161 signed timestamps into signatures pretty easily](https://pkg.go.dev/github.com/github/smimesign/ietf-cms#SignedData.AddTimestamps).

Rekor does provide a timestamping authority today, but it's currently going through some changes that we would need to track, and potentially we might need to use another TSA altogether - https://github.com/sigstore/

[2022-05-13 17:34] haydentherapper commented on #22
Why do we need signed timestamps? Are we gaining much benefit from this? If we're publishing the commit to the log, we have a witness to the signing. The added timestamp transparency doesn't add much.

RFC 3161 is also an old complex standard. I'd prefer to not proliferate its use.

[2022-05-13 17:41] dlorenc commented on #22
I think here it's about compatibility. Git requires x509 s/mime signatures here and assumes RFC3161.

[2022-05-13 19:00] haydentherapper commented on #22
If we're stuck with RFC 3161, then I'd recommend using a third-party TSA, probably not by default and probably making it configurable.

On the note of by default, this gets back to the larger question around the benefit of timestamping. It reduces the need for trusting the timestamp from Rekor, but there may be other ways to guarantee Rekor's clock is trustworthy. I'm fine with this an option for

[2022-05-14 05:26] embano1 commented on #21
Thx for tracking this here as it was literally the first question I had when reading through the value prop 👍

[2022-05-14 15:52] LeSuisse opened #24 "`gitsign --version` shows `unknown`"
Hi,

I just started to play a bit with `gitsign` to start packaging it for `nixpkgs` and I noticed that when using the binaries in the release assets the version was not set:
[code]

I did not check the build pipeline but since it relies on VCS information retrieved from the `debug/buildinfo` I am guessing it will not play well with 107ac2485733ef71c8dce26ade70c68879bcdb45 anyway.

https://github.

[2022-05-14 17:06] cpanato commented on #24
I will take care of this

[2022-05-14 18:16] lukehinds opened #26 "IDE plugins / extensions"
Would be nice to have an extension for vs-code, and perhaps a plugin for vim / JetBrains?

[2022-05-14 18:18] lukehinds opened #27 "gitsign bot"
Throw DCO bot in the toilet and take over things with gitsign bot.

[2022-05-14 18:55] dlorenc commented on #27
This is definitely doable but a bit tricky, there are a few options. A github action can do some of these checks, but must be manually configured by each repo admin. We can put it in the template, but then each repo owner needs to keep it there and keep it up to date. There's no centralized way to manage them.

A github app can be installed and configured by an org admin, and it also gets more acc

[2022-05-14 20:00] #24 closed

[2022-05-14 22:28] cpanato opened #30 "replace the current flags to use cobra"
**Description**
 maybe we can update the existing way to collect flags to use the cobra cli, similar we have for other projects in the org

[2022-05-14 22:59] haydentherapper commented on #27
Is it possible to make identity visible when inspecting the signature in the UI? I’ve seen only the common name and organization, which makes it hard to quickly verify the signer when reviewing commits.

[2022-05-16 17:42] imjasonh commented on #30
It might be possible, but I wonder if it's worth it. The flags to `gitsign` are dictated by Git's expected usage of signing programs, so we wouldn't be able to rename flags for instance. We _might_ be able to add our own flags, if there's some way to configure `git` to call `gitsign` with those flags.

The current `getopt` package is [what `smimesign` uses](https://github.com/github/smimesign/blob

[2022-05-17 07:47] caniszczyk commented on #27
FYI github will be adding DCO support in the github UI soon btw https://github.com/todogroup/gh-issues/issues/50#issuecomment-1110299580

[2022-05-17 10:08] cpanato commented on #30
i get it, thanks so much for the clarification! <3. will close this for now

[2022-05-17 10:08] #30 closed

[2022-05-18 05:52] wlynch commented on #26
Following up on this - you should be able to use existing Git plugins with gitsign with no additional modifications. gitsign is configured with standard [Git configs](https://git-scm.com/docs/git-config), which IDEs should respect.

Certain IDEs may let you configure additional options on a per editor basis (e.g. VSCode's `git.enableCommitSigning: true` setting), but these will almost always be ad

[2022-05-18 05:53] #26 closed

[2022-05-18 20:38] dln commented on #20
The oidc-login plugin for kubectl might be a good source of inspiration?

https://github.com/int128/kubelogin

[2022-05-19 09:19] wlynch opened #36 "Verification panics if summary is nil"
**Description**

Reported in slack: https://sigstore.slack.com/archives/C03ETLNSA3Z/p1652941032953469?thread_ts=1652940129.504849&cid=C03ETLNSA3Z

https://github.com/sigstore/gitsign/blob/20e9e75516a6097132d418c724a9211044b0c745/command_verify.go#L123-L126

If we return a nil VerificationSummary (i.e. `return nil, err`), the `summary.Cert` access will nil panic. We should add a check to only check

[2022-05-19 09:25] wlynch opened #37 "GITSIGN_REKOR_URL not respected"
**Description**

Reported in slack: https://sigstore.slack.com/archives/C03ETLNSA3Z/p1652940129504849

https://github.com/sigstore/gitsign/blob/20e9e75516a6097132d418c724a9211044b0c745/internal/git/git.go#L50-L53

https://github.com/sigstore/gitsign/blob/20e9e75516a6097132d418c724a9211044b0c745/internal/git/git.go#L147-L150

We're using `rekorDefaultURL` which always points to the public rekor ins

[2022-05-19 23:06] chaodaiG commented on #21
Thank you for raising this, this is also my immediate feeling when trying out gitsign(have a git alias `append=commit amend --no-edit` and use it much more often than `git commit`)

[2022-05-20 11:45] scbizu opened #40 "Tracing the progress when GitHub will support the verified badge"
Any working progress here ?  I  even wanna to hide my commit badge or rollback to my GPG Keys, the yellow badge seems too ugly and uncomfortable :(

[2022-05-23 12:01] #37 closed

[2022-05-24 09:22] developer-guy opened #46 "feat: make container image of gitsign"
**Description**

Will you make a container image of gitsign with practices that you are using for other sigstore projects such as using ko or another tool, I'm willing to do this.

cc: @cpanato

[2022-05-24 15:36] #36 closed, assigned to nobody

[2022-06-01 19:44] wlynch opened #49 "Gitsign fails to validate commits after public instance migration"
**Description**

There's upstream changes being made to the public sigstore instance, and it looks like it's affecting gitsign.

[code]

**Version**

`v0.0.2-alpha`

[2022-06-01 19:51] wlynch commented on #49
to be clear - this is a bug in gitsign that was uncovered by the upstream changes to fulcio, not an issue with fulcio that would require a rollback of the public instance.

[2022-06-01 23:41] wlynch opened #52 "Refactor attached verification to use same code path as detached"
**Description**

There's been a bit of skew between attached and detached signatures, which has led to duplication / inconsistencies between the 2 (example - https://github.com/sigstore/gitsign/pull/50#discussion_r887379780)

Tracking issue to refactor and clean this up.

[2022-06-02 15:55] #49 closed

[2022-06-02 20:36] #52 closed

[2022-06-02 23:51] mattmoor opened #61 "brew formulae for gitsign"
**Description**

I see one for cosign, but not for gitsign: https://formulae.brew.sh/formula/cosign

Not sure how cosign manages this, but @cpanato probably does 🤩

[2022-06-03 07:26] cpanato commented on #61
This adds the formula :)
https://github.com/sigstore/homebrew-tap/pull/35

[2022-06-03 11:44] #61 closed

[2022-06-03 18:59] wlynch opened #62 "Remove cosign dependency"
**Description**

Generally tracking issue for removing the dependency on cosign to reduce the dependency sprawl. Ideally all shared code should be moved to `sigstore/sigstore` if possible.

[2022-06-09 23:34] leighmcculloch opened #65 "Exposes private email address from GitHub"
**Description**

When authenticating with GitHub, gitsign appears to retrieve a users private email address and insert that address into the commit being signed. It does this, even if a user has configured their GitHub account to keep their email address private, and even if the user has configured their GitHub account to reject emails that contain their private email.

It's unclear why gitsign ne

[2022-06-09 23:44] dlorenc commented on #65
I agree. The email gets returned from GitHub during the oauth dance when you click "Login with GitHub". We should see if there's a way to get the privacy-preserving one instead. Github doesn't actually implement OIDC fully so we already have a few special cases there.

[2022-06-09 23:55] leighmcculloch commented on #65
I don't think the privacy preserving email addresses actually show up explicitly in the GitHub API. But, the user preserving email can be constructed for any GitHub username using the user endpoint.

https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/setting-your-commit-email-address#about-commit-email-addresses

For ex

[2022-06-10 00:04] dlorenc commented on #65
Oh wow, thank you for the pointers!

[2022-06-10 00:07] leighmcculloch commented on #65
It's worth noting that users cannot receive emails at these addresses, the addresses are used for identification only. When I commit with `351529+leighmcculloch@users.noreply.github.com`, GitHub assigns the commit to my user. If Sigstore only uses the email address for identification, this seems like a good fit.

[2022-06-10 00:27] dlorenc commented on #65
Yep, just for stable identification and non-repudiation.

[2022-06-10 17:01] wlynch commented on #65
As @dlorenc mentioned - this behavior is currently coming from [the OIDC token being generated by Dex](https://github.com/dexidp/dex/blob/b07c8b1d8de94b0910a3269bd23a1587a6332399/connector/github/github.go#L554-L562) when we bounce users through the login flow.

I was chatting with @haydentherapper a few weeks ago about how we could incorporate the GitHub user ID into the fulcio flow so that we do

[2022-06-11 16:03] majinghe opened #68 "golang 1.17 version has the installation error."
**Description**

the golang version in `go.md` is `go 1.17`, however the installation will show the below error:
[code]

the code is

[code]

For `go 1.17` , the function `debug.ReadBuildInfo()` really do not have `Settings` method, but `go 1.18` has:

[code]

So, should the version in go.mod will be changed to `1.18`?

[2022-06-11 19:10] imjasonh commented on #68
We should update the installation instructions.

AFAIK the version in `go.mod` doesn't mean "minimum version needed to build this module", it means "which go version's modules behavior should be used" so I think that could stay at 1.17 (or bump to 1.18, they're the same I think).

[2022-06-12 01:01] majinghe commented on #68
@imjasonh Thanks for your info, i will close this info.

[2022-06-12 01:01] #68 closed

[2022-06-13 17:36] jdolitsky commented on #61
Should document this in the readme!

[2022-06-14 08:58] tech189 commented on #24
I just installed 0.1.0 on Windows and the output is still `unknown`:
[code]

[2022-06-14 09:04] cpanato commented on #24
this PR will address this https://github.com/sigstore/gitsign/pull/66

[2022-06-14 11:07] erikaheidi opened #74 "Version command returns "unknown""
**Description**

When running `gitsign -v` or `gitsign --version`, this is what I'm getting:

[code]

**Context:** I am updating the Sigstore docs website to include a section for Gitsign. I would like to use this command within the documentation to verify that the installation was successful (and confirm it is in the $PATH since I had some issues with my Go installation).

**Version**

Using vers

[2022-06-14 14:11] #74 closed

[2022-06-17 02:53] simonbaird opened #76 "Does gitsign support signing an annotated tag?"
**Question**

If not, are there any plans to do that in future?

[2022-06-17 13:48] imjasonh commented on #76
I believe this should already work, if you `git tag -a --sign`, or `git config --local tag.gpgsign true`.

Perhaps this is just something we need to document better.

If you try it out and it doesn't work, let me know.

[2022-06-17 13:50] imjasonh commented on #76
Looking through [`git-config`](https://git-scm.com/docs/git-config#Documentation/git-config.txt) a bit more, it looks like there's also [`push.gpgsign`](https://git-scm.com/docs/git-config#Documentation/git-config.txt-pushgpgSign) which we should maybe test out and document as well.

[2022-06-17 13:57] simonbaird commented on #76
Awesome, thanks.

[2022-06-17 13:57] #76 closed

[2022-06-17 20:29] wlynch commented on #76
Yes! Gitsign works with tags as well - no additional changes should be needed beyond the initial Gitsign setup (same as commit signing). We should add this to our docs.

Fun fact: Gitsign release tags are already signed with Gitsign. 😎

[code]

[2022-06-17 23:14] ChevronTango opened #78 "Is GitLab supported"
Much of the documentation and existing issues focus on GitHub but GitLab is a pretty major player as well. What, if any, work is needed for GitLab? Can it be configured to accept GitSign ephemeral certs? What limitations are there to doing this? Is this just browser based or can sn IDE like VS Cose be used?

[2022-06-20 01:17] glennsarti opened #79 "Cylance MaxSecure flagging gitsign_0.1.1_windows_amd64.exe as a trojan"
**Description**

Cylance Max Secure is flagging the 64bit gitsign executable as a potential trojan. (`Trojan.Malware.300983.susgen`)

A quick google search has shown that unfortunately this is somewhat common with golang if you pack/unpack DLLs into the exe on Windows. However I can't verify that gitsign, or any it's dependencies, do this.

Other virus scanners have not detected anything.  So I'm

[2022-06-21 21:33] wlynch commented on #78
Hi!

Gitsign works primarily on Git itself, so core Git signing / verification should be able to be used on any Git provider - Gitlab, Gitea, Bitbucket, etc.

Things I know about that might not work specifically on Gitlab:
- Provider verified UI badges - similar to GitHub, if GitLab does not recognize the sigstore root you are using they will show up as unverified on the UI (but you should still b

[2022-06-21 21:45] #78 closed

[2022-06-22 18:31] wlynch commented on #79
Yeah this is bizarre - Gitsign isn't doing any kind of DLL packing. o_O

Apparently antivirus false positives are common enough for Go binaries that Go itself has an FAQ about this - https://go.dev/doc/faq#virus

I don't think we can do much about this on our end - we might need to reach out to the vendor.

[2022-06-22 21:21] wlynch commented on #79
I reran the run on the same binary SHA and everything is now green 🤷‍♂️

https://www.virustotal.com/gui/file/0f026879fae8a7cc503f7829a885ffc14b9d6ae4d52b9086c5ba05b9ca9e1343

🎲

[2022-06-22 21:21] #79 closed

[2022-06-23 01:28] glennsarti commented on #79
Thanks @wlynch

[2022-06-23 20:26] #21 closed, assigned to wlynch

[2022-06-24 20:52] #20 closed

[2022-06-29 16:38] wlynch opened #86 "Idea: KMS support"
**Description**

If the [`user.signingKey`](https://git-scm.com/docs/git-config#Documentation/git-config.txt-usersigningKey) git config option is set, this value will be set as an argument to `gitsign`:

user.signingKey Value | gitsign args
----------------------|--------------
<nil> | `gitsign --status-fd=2 -bsau Billy Lynch <billy@chainguard.dev>`
asdf | `gitsign --status-fd=2 -bsau asdf`

We co

[2022-06-29 18:11] wlynch opened #88 "Incorrect Rekor ID for tags"
**Description**

I think we're computing the wrong rekor ID / SHA value for signed tags. How we're doing this today is we're precomputing the SHA value based on the incoming body and the signature we produce.

For commits the final commit object looks like:

[code]

but for tags this looks like:

[code]

Currently we're assuming commits - which means for tags we're unmarshalling incorrect data - h

[2022-06-30 20:04] #88 closed, assigned to wlynch

[2022-07-07 16:51] haydentherapper commented on #22
Planning to take a look at spinning up a rfc3161 server soon. I don’t think this is blocked though, you can easily use a third party TSA, and frankly it’s a better trust model since you aren’t relying on Sigstore to provide the signature over the time.

[2022-07-07 21:36] derekmurawsky commented on #46
I can think of one - In a build process you want to easily sign a release. Many use containers to better manage the complexity of build agent software and dependencies. That same container could be used with pre-commit frameworks to allow for signing locally as well, without the need to install anything besides a container runtime, which many people already have.

[2022-07-13 00:45] wlynch opened #94 "Idea: gitsign attest"
**Description**

~~This is an idea I've had rattling in my mind for awhile that I figured I'd finally write down.~~ Not an original idea! see https://github.com/sigstore/cosign/issues/865 for initial discussion.

It would be cool to add attestation support to Gitsign similar to `cosign attest`! i.e.

[code]

Primary use case would be to attach attestation information about the source / code review

[2022-07-13 00:46] wlynch commented on #94
cc some people I know might be interested - @asraa @mattmoor

[2022-07-13 01:00] mattmoor commented on #94
Definitely excited by the prospect here, and we can probably close https://github.com/sigstore/cosign/issues/865 in favor of this, so let me do that 😂

[2022-07-13 01:04] mattmoor commented on #94
One of the nice things about `git notes` is that it shows up nicely in `git log` already (not sure how hard that is).  One of the gotchas is that it isn't nicely merges as part of the standard PR flow.

That said, I do really like the parallels between `git` remotes and `COSIGN_REPOSITORY` in `cosign` for pushing attestations to others places, which allows differentiated write access between these

[2022-07-13 12:35] wlynch commented on #94
A ha! I thought there was a previous discussion about this - totally forgot it was in that cosign issue. Thanks for linking @mattmoor! 😅

Yeah what I'm suggesting here is inline with your git notes / git appraise idea, just in a different refspace. AFAIK there isn't a strict requirement that notes need to be in `refs/notes`, so if we wanted it to show up in git log we can (just need to set `notes.

[2022-07-19 09:16] abhishiekgowtham opened #98 "question: GitHub app integration"
I've started using this recently and need to login to GitHub each time i try to push something to the origin using GitHub's desktop application which gets annoying when dealing with multiple PRs/repos. Is there a way cache or store the login creds for a time period instead?

[2022-07-19 13:19] imjasonh commented on #98
There is some work in progress to cache and reuse certificates, here: https://github.com/sigstore/gitsign/tree/main/cmd/gitsign-credential-cache

There are some noteworthy caveats and limitations at this time, but it's actively being worked on by @eddiezane and @wlynch

If you try it out and let us know how it goes that would be helpful feedback!

[2022-07-21 10:10] rawkode commented on #98
Would be good to get the credential-cache binary into homebrew and allow it to be enabled with `brew service` rather than using `gitsign-credential-cache &`

[2022-07-21 10:20] imjasonh commented on #98
A Chrome extension is an interesting approach. I'd have to think about how it would cache things in a place the `gitsign` (or `cosign`) executables could get to them, but it might work.

Now that I'm thinking of it, what I _really_ want a Chrome extension for is closing the OAuth window after I've finished OAuthing (https://github.com/sigstore/sigstore/pull/484)

[2022-07-21 14:30] wlynch opened #99 "File based configuration"
**Description**

It would be great to wire up [viper](https://pkg.go.dev/github.com/spf13/viper) or something similar to have file based configuration for gitsign (i.e. `~/.gitsign`) rather than needing to export a bunch of environment variables.

[2022-07-22 02:21] abhishiekgowtham commented on #98
@imjasonh I'd be happy to give it a try and let you know the feedback. Please let me know what branch/tag version I should be using.

[2022-07-22 02:53] imjasonh commented on #98
You can try it out now following instructions at https://github.com/sigstore/gitsign/tree/main/cmd/gitsign-credential-cache, just be aware that it might change or go away in the future, and that there are security implications to caching these credentials.

[2022-07-26 15:18] eddiezane commented on #98
I started working on dropping the extra binary and using the OS keystore. If that winds up not working I wanted to bake everything into a single binary that forks the daemon like gopls does. Just need to get a chance to finish it.

[2022-08-04 12:19] Typositoire opened #103 "WSL can't be reach by redirect URL"
I'm using WSL on windows (Don't judge me!!!!) And when running gitsign, it tries to reach back on `localhost` but this doesn't work.

I think just a way to bind to 0.0.0.0 instead of 127.0.0.1 would work? I'd be glad to test whatever solution comes out!

**Version**

`gitsign version v0.2.0`

[2022-08-05 15:01] wlynch opened #104 "Verify: require cert to match committer?"
This could be a disruptive change to users, so looking for feedback before we commit to this - should we require by default that the cert contained in the git commit match the email of the git committer?

Right now we just check for a valid signature, and users would need to add additional checks to verify the identity matches.

This would be in line with [Sigstore clients should require a provide

[2022-08-05 15:21] Dentrax opened #105 "proposal: provenance generation and verifying attestation using cosign with new predicate type"
**TL;DR:** _Create a provenance by traversing each commit. Attest into OCI registry. Verify all commits in attestation using cosign._

---

**Abstract**

This issue proposes introducing new `cosign.sigstore.dev/attestation/gitsign/v1` predicate type for using the [in-toto/attestation model](https://github.com/in-toto/attestation). Also proposes a new subcommand in gitsign itself: `attestation gene

[2022-08-05 16:55] wlynch commented on #105
Thanks for putting this together! I definitely want to explore what kind of attestations we can start putting together for git commits.

So I'm a bit hesitant about trying to create an attestation that captures all commits in a single document for a few reasons:

1. This could get large

    e.g. the canonical worst case example is https://github.com/torvalds/linux which is 1M+ commits. Git does n

[2022-08-05 16:58] TomHennen commented on #105
(ninja'd by @wlynch :))

This is an interesting proposal!  A couple thoughts in no particular order:

1. I think this same approach is applicable to all types of software binaries that are created from source.  Perhaps the proposal doesn't need to be _specific_ to container images?
2. "Should we verify each commit in history that made up the container image? (before running the container image)"

[2022-08-05 17:18] znewman01 commented on #104
Yeah, I think the default of "check that *someone* signed but not *who*" is pretty dangerous in general and I strongly support being able configure a "verification policy" (with some sensible default; I think the proposed policy is a good one). Options include:

- must be signed by the Git commit email (need to think about how to handle merge commits)
- "unsafe": the behavior today
- allowlist of

[2022-08-05 18:35] dlorenc commented on #104
I like this in general. Another check we could add is that the timestamp in the commit is during the validity window of the cert, to prevent signing "backdated" commits.

[2022-08-11 16:04] sallyom opened #108 "Verify logic refactor to make consumable by other tools"
Refactor verify logic so that other gitOps tools (such as https://github.com/containers/fetchit.git) can verify gitsign-d commits without cp/pasting bits from gitsign internal package

WIP fetchit with proposed refactor: https://github.com/containers/fetchit/pull/230

[2022-08-11 16:15] sallyom commented on #108
https://github.com/sigstore/gitsign/pull/109

[2022-08-12 16:29] vaikas opened #110 "When rebasing, and a wrong chrome window gets the request, no easy (if any?) way to recover."
**Description**
I have multiple chrome windows open, one for my work, one for personal, and one for say Knative.

When I started to rebase a project that's wired up to use gitsign, it spun up the request to authenticate on one of the wrong windows, which will not work. Usually with other things that require auth, it prints the URL so if a wrong chrome window is spun up, I can cut & paste the URL t

[2022-08-12 16:39] imjasonh commented on #110
I agree it's somewhat annoying when you have multiple Chrome profiles open. I find myself copypasting the URL from my personal profile to a new window in my corp profile, and closing the window in my personal profile.

I'm not sure whether `gitsign` can print anything out at all, the way it's invoked by `git`.

[2022-08-12 16:43] vaikas commented on #110
Good call as always @imjasonh wish I had thought of it before I hit ctrl-c :) You know how patient I can be :)

[2022-08-12 16:51] wlynch commented on #110
I think https://github.com/sigstore/gitsign/pull/87 fixes this, so long as a TTY is available in the session - try updating to v0.2.0!

This is what gisign looks like for me at a version close to head -

[code]

[2022-08-15 07:09] vaikas commented on #110
Sure does @wlynch just tried and indeed works out. Thanks much!

[2022-08-15 07:09] #110 closed

[2022-08-15 22:34] #108 closed

[2022-08-18 21:30] wlynch opened #114 "Select auth provider with config"
Probably dependent on #99, but something that would be nice is if we had a way for users to pre-select the auth provider they want to use for a repo.

Currently we use the default interactive provider, but if we had a per-repo config, then we could have an option to specify the TokenGetter to use https://github.com/sigstore/sigstore/blob/2ec832bbea880d6fb3f7b0b7cdfaffde490c571e/pkg/oauthflow/flow.

[2022-08-19 13:21] imjasonh commented on #114
+1 for adding this to gitsign, and we should make sure it's something we can share with cosign and other tools too using the same convention. Maybe some env var `SIGSTORE_OAUTH_SELECT=google` or something?

[2022-08-23 17:23] sormuras commented on #40
Somehow related: https://github.blog/changelog/2022-08-23-ssh-commit-verification-now-supported/

Still no sigstore support yet.
![image](https://user-images.githubusercontent.com/2319838/186224300-8bf9b62f-98c5-4ba7-8b26-2b1328f134cd.png)

[2022-08-23 19:14] wlynch commented on #40
Not GitHub, but figured there's related interest here for GitLab progress: https://gitlab.com/gitlab-org/gitlab/-/issues/364428

[2022-08-25 15:56] #99 closed

[2022-08-25 16:51] wlynch commented on #114
Started with `GITSIGN_CONNECTOR_ID` in #122, though wouldn't be opposed to `SIGSTORE_CONNECTOR_ID`.

Not 100% sure if we want to support things like `google` though (as opposed to `https://accounts.google.com` - these are really URL params that are being sent to Dex, so we probably want Dex to be the arbiter of what are allowed values, since these could change per instance.

[2022-08-25 17:12] #114 closed

[2022-09-01 18:18] wlynch opened #128 "Gitsign doesn't support git config --global options"
**Description**

From @mattmoor:

[code]

Root cause appears to be https://github.com/go-git/go-git/issues/508 - we're losing the custom `gitsign` config options when the configs are merged. This would also affect options set with `git config --system`

**Version**

v0.3.0

[2022-09-02 16:09] wlynch commented on #104
Some more thinking about this - using committer emails to verify against for human users should be relatively easy, but we still need to figure out:

1. What IdP to trust for the email
2. What email to use for commits made by automation

    For GitHub Actions: https://github.com/orgs/community/discussions/26560 suggests we can use `41898282+github-actions[bot]@users.noreply.github.com` to link co

[2022-09-02 17:53] wlynch commented on #46
Circling back on some of the older issues...

Not opposed to this if someone wants it and can implement it! Using ko + layer on top of https://github.com/distroless/git would probably be a good way to get a minimal gitsign image.

For those who are interested in GitHub actions, https://github.com/chainguard-dev/actions/tree/main/setup-gitsign is available to use (bumping to latest in https://githu

[2022-09-02 18:32] wlynch commented on #128
To work around this, we can likely just reimplement what go-git does and handle the merge for gitsign related fields ourselves - https://github.com/go-git/go-git/blob/bc1f419cebcf7505db31149fa459e9e3f8260e00/repository.go#L496-L522

[2022-09-02 20:58] znewman01 commented on #104
Oof, this is really tricky and important to get right. There's [no canonical IdP for a given email](https://github.com/sigstore/fulcio/issues/639) (see also https://github.com/sigstore/cosign/issues/1947).

<warning: I'm going to repeat myself a bunch below 😄 >

That said: I think we can push this problem to wherever we're solving the problem of "whose commits do I trust, in general?" If you e.g.

[2022-09-06 22:59] JonZeolla opened #131 "Missing access_token causes internal server error"
**Description**

<img width="527" alt="Screen Shot 2022-09-06 at 6 57 55 PM" src="https://user-images.githubusercontent.com/1385510/188754606-e9acd4d5-531a-4a8b-8855-29d37f8c21ba.png">

**Version**

gitsign version v0.2.0

[2022-09-06 23:06] wlynch commented on #131
My bet is this is related to the ongoing GitHub outage https://www.githubstatus.com/incidents/wl09fvhb20x8 and GitHub is failing to return the OAuth token to Dex. This might be a wait and see until the outage clears 🤷

cc @haydentherapper

[2022-09-07 15:46] haydentherapper commented on #131
That would make sense, there have been no other changes to the auth infrastructure that would be causing this. I assume it’s been resolved by now.

[2022-09-07 22:03] JonZeolla commented on #131
Yeah makes sense.  Wasn't sure if the project wanted to handle that more gracefully.  If not you're welcome to close as won't fix

[2022-09-12 08:48] ianlewis opened #137 "Out of band auth flow not working"
**Description**

The auth process in `gitsign` outputs a URL you should be able to open in the browser to get a verification code, but the oauth2 server redirects to localhost after logging in. In this case localhost is not accessible so the auth flow cannot complete.
[code]

**Version**

gitsign v0.2.0

[2022-09-20 15:25] wlynch commented on #131
Since we're pretty sure this was related to the github incident, closing this out. Thanks for the report! 🎉

[2022-09-20 15:25] #131 closed

[2022-09-20 17:35] #137 closed

[2022-09-20 20:04] wlynch commented on #104
Did something thinking + experimentation around this - here's a rough proposal:

For `gitsign verify`, we can provide customized flags that match the experience of `cosign verify` (e.g. `--certificate-email`, etc.).  For `git verify-commit` this is a bit more complex, since we can't pass in additional flags and we're limited by the commit data (which is basically user emails).

## User Emails

Thi

[2022-09-21 20:41] wlynch commented on #103
Sorry about the delay - going back over old issues that are still open.

I haven't tried using gitsign with WSL, but this sounds roughly similar to the "use gitsign within a vm" use case we hear a lot. I think I'd be a little hesitant to open this up to `0.0.0.0`, and I'm not sure this would directly solve your issue since the `localhost` redirect URL would still point to the host machine.

2 alte

[2022-09-22 02:33] trishankatdatadog commented on #105
Good idea to sign attestations about commits!

I agree. This does not seem like it generally scales. I'm also not sure what it really buys you. Maybe signing the release/tag should be sufficient?

Also, what about the possibility to sign some/all sources files, not just commits?

[2022-09-22 07:42] Samrose-Ahmed opened #142 "Using dot syntax in global .gitconfig causes cryptic error"
**Description**

Have the following line in global `~/.gitconfig`:

[code]
Running gitsign --version will print error:

[code]

Dot syntax in gitconfig is supported but deprecated ([see](https://git-scm.com/docs/git-config#:~:text=There%20is%20also%20a%20deprecated%20%5Bsection.subsection%5D%20syntax.%20With%20this%20syntax%2C%20the%20subsection%20name%20is%20converted%20to%20lower%2Dcase%20and%20

[2022-09-23 21:37] wlynch opened #143 "tuf: warning using deprecated ecdsa hex-encoded keys"
**Description**

`git verify-commit` is outputting a warning:

[code]

A similar bug hit cosign, so we likely need to make a similar change:

https://sigstore.slack.com/archives/C01PZKDL4DP/p1663249878057829
https://github.com/sigstore/cosign/pull/2256

**Version**

This was introduced in some version > 0.3.0 (probably in a dependabot update to update cosign/rekor)

[2022-09-24 11:11] cpanato commented on #143
this is related https://github.com/sigstore/sigstore/pull/701

will update the dependency

[2022-09-27 14:06] #128 closed

[2022-09-27 14:06] #142 closed

[2022-10-04 20:38] PickledDragon opened #154 "`gitsign --version` runs only inside a git repository"
**Description**
I have followed the installation guide [here](https://docs.sigstore.dev/gitsign/installation/#installing-gitsign-with-homebrew) and installed `gitsign` on my Macbook. The next step in the guide [checking the installation](https://docs.sigstore.dev/gitsign/installation#checking-your-installation) recommends to run `gitsign --version` to check the installation. If I do that from a ra

[2022-10-05 16:45] wlynch commented on #154
Conveniently I think this was also fixed by https://github.com/sigstore/gitsign/pull/149 :)

Cutting v0.3.2 now, but otherwise feel free to install from main!

[2022-10-07 08:46] PickledDragon commented on #154
Thanks I'll give it a shot on the weekend.

[2022-10-07 17:59] anoncam opened #155 "Pushing to enable custom root CAs for orgs with such PKI in place"
https://github.com/sigstore/gitsign/blob/e8d1ed2fa3a5bf861af91dd9f507f1633c7c03f2/README.md?plain=1#L150

@DODTeam1 - the roots from [cyber.mil](https://public.cyber.mil/pki-pke/) has this bundle, which would extend a great deal of signing support using existing PKI for a moderately sized vertical...interested if it is more desirable to have this user configurable, or baked in.

[2022-10-07 18:20] dlorenc commented on #155
Can you clarify the question a bit? Are you asking us to add a root, or for github/Gitlab/etc to add it?

[2022-10-07 18:37] anoncam commented on #155
yeah this is not an ask of sigstore, it's a capability request of @github

[2022-10-07 18:38] anoncam commented on #155
my ambiguity was grotesque, apologies

[2022-10-11 14:15] operatorequals commented on #104
Inspired by this Issue, I created a Github Action that tries to catch all possible scenarios of signed (and unsigned) commits
that violate security.

In the [README's scenarios section](https://github.com/operatorequals/gitsign-action#scenarios-mitigated-by-sigstore-gitsign-along-with-this-github-action) there are some cases that this Github Action would fail to verify a signed commit, given some

[2022-10-11 18:14] PickledDragon commented on #154
Thanks @wlynch [v0.3.2](https://github.com/sigstore/gitsign/releases/tag/v0.3.2) fixes it. I am closing this issue.

[2022-10-11 18:14] #154 closed

[2022-10-17 14:54] wlynch opened #166 "gitsign timestamp cert verification broken"
**Description**

My fault for not catching this pre-submission, but looks like timestamp verification doesn't work if the timestamp cert isn't included in the fulcio root pool. We'll need to modify the CertPool loading to include the system root.

**Version**

https://github.com/sigstore/gitsign/commit/175234a4dcbc7518c4188e70e0e170c2d9c185f4

[2022-10-19 18:43] wlynch opened #169 "gitsign doesn't respect SIGSTORE_ROOT_FILE"
**Description**

There’s feature skew between how [sigstore/sigstore](https://github.com/sigstore/sigstore/blob/v1.4.4/pkg/fulcioroots/fulcioroots.go#L69) implements Fulcio cert loading and how [cosign](https://github.com/sigstore/cosign/blob/30bf1c09c6fde849245648ff294725d86094fe28/internal/pkg/cosign/fulcio/fulcioroots/fulcioroots.go#L59) does it. Because of this gitsign doesn’t respect SIGSTORE

[2022-10-20 17:35] #169 closed

[2022-11-15 20:00] imjasonh opened #190 "Support users who SSH into a remote server"
SSHing into a remote machine to develop is a fairly common workflow.

[code]

Unfortunately the UX in this case is somewhat suboptimal, though it has improved greatly. Instead of popping up a browser window like it would if you were `git commit`ing locally, this prints a URL and asks you to open in a browser you have access to, whereupon you OAuth, and copy a code back to the waiting gitsign promp

[2022-11-17 21:29] #105 closed

[2022-11-18 14:28] datosh commented on #190
I ran into the same limitations @imjasonh since I am exclusively working with "remote" machines. Either cloud machines or locally virtualized. [I've written down my thoughts on medium](https://medium.com/p/6f40f47d289f) on how to solve this using a NAT gateway or SSH tunnels. Which gives you exactly the same UX as you would get locally.

Which security guarantees could an agent provide in contrast

[2022-11-18 14:42] dprotaso commented on #190
For some reason I also notice that I need to redo the auth flow on every commit. Unsure why if that's because I'm remote.

I configured `gitsign` for a single repo - not globally

[2022-11-24 16:12] znewman01 opened #194 "Why not use git-credential-cache?"
Git has [a credential cache of its own](https://git-scm.com/docs/gitcredentials) that looks very similar to the gitsign-credential-cache.

I assume there's a good reason not to use it; can we add that to the [README](https://github.com/sigstore/gitsign/blob/main/cmd/gitsign-credential-cache/README.md)?

[2022-11-28 20:18] wlynch commented on #194
They are very similar! (I based most of what we did on it)

Most of it comes from we weren't (and in some aspects still aren't) sure what we wanted the cache to look like. It was easy enough to write an in-memory cache that we had control over.

The existing git-credential-cache and credential helpers are primarily intended for getting credentials for remote operations. If we reused the same cache

[2022-11-28 22:14] #22 closed

[2022-11-29 20:45] wlynch commented on #94
https://github.com/sigstore/gitsign/pull/195

[2022-11-29 20:45] #94 closed